<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <section th:replace="layout :: header">

    </section>

    <title th:text="'kontrolki'">Kontrolki</title>
</head>
<div>
    <div class="navbar-fixed" th:replace="layout :: navigation">
    </div>
    <div class="gif-detail container">
        <div class="frame row">
            <div class="col s12">
                <h3>DZIĘKI ŻE WPADŁEŚ!!!</h3>
            </div>
            <div class="col s12">
                <div class="col s4 center">
                    <img class="circle" th:src="@{'/jeep.jpg'}" alt="avatar"/>
                </div>
                <h4>Zapraszam na mojego GitHub-a</h4>
                <a class="btn center" href="https://github.com/Marcin111">GitHub</a>
            </div>
            <div class="col s12">
                <h3>BEZPIECZNEJ PODRÓŻY!!!</h3>
            </div>
        </div>
    </div>
</div>

<section th:replace="layout :: scripts">

</section>
</body>
</html>