<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <section th:replace="layout :: header">

    </section>

    <title th:text="'kontrolki'">Kontrolki</title>
</head>
<body>
<div class="navbar-fixed" th:replace="layout :: navigation">
</div>
<div class="gif-detail container">
    <div class="frame row">
        <div class="col s12">
        <h2>PROFIL DOBREGO KIEROWCY</h2>
        </div>
        <div class="col s12">
            <h4>Doświadczenie i pewność siebie, nie brawura.</h4>
            <h5>Dobrego kierowcę cechuje doświadczenie i umiejętność szybkiej reakcji w niespodziewanych sytuacjach. Taka osoba pewnie czuje się za kierownicą. Nie należy tego jednak mylić ze skłonnością do nierozważnych zachowań. „Jeżdżę szybko, ale bezpiecznie” – tego zdania nie wypowie naprawdę dobry kierowca.</h5>
            <h4>Elastyczność i dobra ocena sytuacji.</h4>
            <h5>Bardzo ważną umiejętnością dobrego kierowcy jest dostosowanie się nie tylko do obowiązujących przepisów, lecz także do bieżącej sytuacji panującej na drodze. Oznacza to na przykład redukcję prędkości w przypadku jazdy w kiepskich warunkach atmosferycznych albo utrzymanie większego dystansu od kierowcy poruszającego się niepewnie lub w sposób agresywny.</h5>
            <h4>Maksymalne skupienie uwagi na prowadzeniu samochodu.</h4>
            <h5>Dobrego kierowcę można poznać nie po tym, że jest w stanie jednocześnie pisać SMS-y i prowadzić auto, lecz po tym, że unika tego rodzaju zachowań. Podczas jazdy samochodem skupia się maksymalnie na tej czynności i nie chce, by coś go rozpraszało.
                Nie dopuszcza też do sytuacji, w których jego zdolność koncentracji czy szybkość reakcji mogłyby się obniżyć, co oznacza rezygnację z jazdy pod wpływem zmęczenia, a tym bardziej alkoholu czy narkotyków.</h5>
            <h4>Ciągłe dokształcanie się.</h4>
            <h5>Aby być dobrym kierowcą, trzeba stale pracować nad swoimi umiejętnościami. Nie można poprzestawać na wiedzy nabytej kilka czy nawet kilkadziesiąt lat wcześniej na kursie nauki jazdy. Pomóc mogą specjalistyczne szkolenia z bezpiecznej jazdy, a także lektura artykułów na ten temat. Niezbędne jest również aktualizowanie wiedzy w dziedzinie przepisów ruchu drogowego.</h5>
            <h4>Szacunek dla wszystkich.</h4>
            <h5>Dobry kierowca zwraca uwagę na innych uczestników ruchu, zwłaszcza tych najbardziej narażonych na niebezpieczeństwo czy dyskomfort. Zadba o to, by nie ochlapać pieszego podczas deszczu, a wyprzedzając rowerzystę zachowa odpowiednio duży odstęp. Jasno sygnalizuje też swoje zamiary i wykazuje się uprzejmością wobec innych, o ile nie powoduje to utrudnień w ruchu.</h5>
        </div>
    </div>
    <div class="row">
        <div class="col s12 l6">
            <div class="meta row">
                <div class="col s3">
                    <img class="circle" th:src="@{'/avatar.jpg'}" alt="avatar"/>
                </div>
            </div>
        </div>
        <div class="col s12 l6">
            <div class="share">
                <a class="btn right" href="http://szkolabezpiecznejjazdyrenault.pl">Źródło</a>
                <h6>http://szkolabezpiecznejjazdyrenault.pl</h6>
            </div>
        </div>
    </div>
</div>

<section th:replace="layout :: scripts">

</section>
</body>
</html>